extends layout

block content
  form.form-signin(role='form', action="/login",method="post")
    h2.form-signin-heading Login
    input.form-control(type='text', name="username", placeholder='Enter Username')
    input.form-control(type='password', name="password", placeholder='Password')
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Log in

